<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div id="content-box">
    <div id="content" data-th-fragment="content">
        <div class="list">
            <ul>
                <li data-th-each="teach : ${teaches}">
                    <div class="item-box">
                        <div class="item-main">
                            <a style="display: flex" data-th-href="'/user/vs/vs-content/' + ${teach.id}" target="_blank">
                                <img data-th-src="${teach.cover}" alt="1" src="">
                                <div class="item-info">
                                    <div class="item-title">
                                        <span data-th-text="${teach.title}"></span>
                                    </div>
                                    <div class="item-describe">
                                        <span data-th-utext="${teach.synopsis}"></span>
                                    </div>
                                </div>
                            </a>
                            <div class="item-operate">
<!--                                <button>查看</button>-->
                                <button>删除</button>
<!--                                <button>修改</button>-->
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>

    </div>
</div>
</body>
</html>